{% for i in (1..3) %}
  <div
    style="
      {% include enum-includes.html objSection = include.objSection strKey = "styles" %}
    "
  >
    {% include img-element.html %}
    <figcaption>
      Fig. {{forloop.index}}
    </figcaption>
  </div>
{% endfor %}
{% include enum-strings.html objSection = include.objSection strKey = "notes" %}
<p
  style="
    clear: both ;
  "
>
  Used styles:
  <samp>
    div {
      {% include enum-includes.html objSection = include.objSection strKey = "styles" %}
    }
  </samp>
</p>